* {
    margin: 0px;
    padding: 0px;
}
header {
    font-size: 30px;
    background-color: rgb(82, 194, 157);
}
h1 {
    padding: 10px;
    color: #6c4203e3;
}

#container {
    border-top: 10px solid rgb(15, 28, 2);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    background-color: hsl(30, 45%, 76%);
}

#container div {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

img {
    width: 18vw;
}

.food-item {
    background-color: rgb(103, 231, 48);
    align-items: center;
}

.food-item > h2, .food-item > p {
    background-color: rgb(103, 231, 48);
}